.list:hover {
  cursor: pointer;
}

.active {
  color: grey;
}

.sequence {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10px;
  background-color: grey;
  margin-right: 10px;
  margin-left: 10px;
}

.sequence1 {
  background-color: red;
}

.sequence2 {
  background-color: orange;
}

.sequence3 {
  background-color: green;
}